
<script>
$(function() {
    $("#order-product").after("<div class='card rounded border-0 mb-4' id='new-order-product'></div>")
    $("#order-product").css("display", "none");
    $("#new-order-product").html($("#order-product-replace").html());
})
</script>

<div id="order-product-replace" class="card rounded border-0 mb-4" style="display: none;">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <div class="d-inline-block" data-tooltip="true" data-placement="top" title="{{ 'tooltip.order.product_info'|trans }}"><span class="card-title">{{ 'admin.order.product_info'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></span></div>
            </div>
            <div class="col-4 text-right"><a data-toggle="collapse" href="#orderItem" aria-expanded="false" aria-controls="orderItem"><i class="fa fa-angle-up fa-lg"></i></a></div>
        </div>
    </div>
    <div class="collapse show ec-cardCollapse" id="orderItem">
        <div class="card-body">
            <div class="row justify-content-between mb-2">
                <div class="col-6">
                    {# 複数配送の場合は商品追加できない #}
                    <div class="modal fade" id="addOrderItemType" tabindex="-1" role="dialog" aria-labelledby="addOrderItemType" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ 'admin.order.add_other_item'|trans }}</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div id="searchOrderItemTypeList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                                    
            </div>
            <table id="table-form-field" class="table table-striped table-sm mb-0"
                    data-prototype="{% filter escape %}{{ include('@admin/Order/order_item_prototype.twig', {'orderItemForm': form.OrderItems.vars.prototype}) }}{% endfilter %}">
                <thead class="table-active">
                <tr class="text-nowrap">
                    <th class="pt-2 pb-2 pl-3">{{ 'admin.product.product_name_and_code'|trans }}</th>
                    <th class="pt-2 pb-2">
                        <div class="col-8">{{ 'admin.order.amount'|trans }}</div>
                    </th>
                    <th class="pt-2 pb-2">
                        <div class="col-8">{{ 'admin.order.quantity'|trans }}</div>
                    </th>
                    <th class="pt-2 pb-2">
                        <div class="col-8">{{ 'admin.order.tax_rate'|trans }}</div>
                    </th>
                    <th class="pt-2 pb-2">
                        <div class="col-8">{{ 'admin.order.tax_type'|trans }}</div>
                    </th>
                    <th class="pt-2 pb-2">
                        <div class="col-8">{{ 'stripe_recurring.admin.product_class.initial_price'|trans }}</div>
                    </th>
                    <th class="pt-2 pb-2">
                        <div class="col-8">{{ 'admin.order.subtotal'|trans }}</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for OrderItem in rec_order.OrderItems %}
                    <tr>
                        {# hidden values #}
                        <!-- 商品名 -->
                        <td class="align-middle w-25 pl-3">
                            <p class="mb-0 font-weight-bold">
                                {# 商品とポイント値引きは名前変更できない #}                                                    
                                <a href="{{ url('admin_product_product_edit', {id: OrderItem.ProductClass.Product.id}) }}" target="_blank">
                                    {{ OrderItem.Product.Name }}
                                </a>
                            </p>
                            <span>
                            {% set ProductClass = OrderItem.ProductClass %}
                                {{ ProductClass.Code }}
                                {% if ProductClass.ClassCategory1 is not empty %}
                                    / (                                                        
                                    {{ ProductClass.ClassCategory1.Name }}
                                    {% if ProductClass.ClassCategory2 is not empty %}
                                        /                                                            
                                        {{ ProductClass.ClassCategory2.Name }}
                                    {% endif %}
                                    )
                                {% endif %}
                            </span>
                        </td>
                        <!-- 金額 -->
                        <td class="align-middle">
                            <div class="col mt-3">
                                {# ポイント値引きは価格変更できない #}                                                    
                                {{ ProductClass.Price02|price }}
                                {% if OrderItem.TaxDisplayType  %}
                                    <div class="text-left small">({{ OrderItem.TaxDisplayType }})</div>                                                    
                                {% endif %}
                            </div>
                        </td>
                        <!-- 数量 -->
                        <td class="align-middle">
                            <div class="col-12 col-xl-8">
                                {# 複数配送の場合は商品の個数を変更できない、ポイントの場合も個数を変更できない #}                                                    
                                {{ OrderItem.Quantity }}
                                
                            </div>
                        </td>
                        <!-- 税率 -->
                        <td class="align-middle">
                            <div class="col-12 col-xl-8">
                                {# 複数配送・ポイント明細・不課税明細は商品の税率を変更できない #}                                                    
                                {{ OrderItem.TaxRate }}                                                    
                            </div>
                        </td>
                        <!-- 課税区分 -->
                        <td class="align-middle">
                            <div class="col">
                                {{ OrderItem.TaxType }}
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="col">
                                {{ OrderItem.InitialPrice|price }}
                            </div>
                        </td>
                        <!-- 小計 -->
                        <td class="align-middle">
                            <div class="col">
                                <span>{{ ProductClass.Price02IncTax|price }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}   
                {% if bundle_order_items is not empty %}
                    <tr>
                        <td>
                        <div style="font-weight: bold; font-size: 1.1em;">{{ "stripe_recurring.mypage.schedule.bundle_product"|trans }}</div>
                        </td>
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    {% for OrderItem in bundle_order_items %}
                        <tr>
                            {# hidden values #}
                            <!-- 商品名 -->
                            <td class="align-middle w-25 pl-3">
                                <p class="mb-0 font-weight-bold">
                                    {# 商品とポイント値引きは名前変更できない #}                                                    
                                    <a href="{{ url('admin_product_product_edit', {id: OrderItem.product_class.Product.id}) }}" target="_blank">
                                        {{ OrderItem.product_class.Product.Name }}
                                    </a>
                                </p>
                                <span>
                                {% set ProductClass = OrderItem.product_class %}
                                    {{ ProductClass.Code }}
                                    {% if ProductClass.ClassCategory1 is not empty %}
                                        / (                                                        
                                        {{ ProductClass.ClassCategory1.Name }}
                                        {% if ProductClass.ClassCategory2 is not empty %}
                                            /                                                            
                                            {{ ProductClass.ClassCategory2.Name }}
                                        {% endif %}
                                        )
                                    {% endif %}
                                </span>
                            </td>
                            <!-- 金額 -->
                            <td class="align-middle">
                                <div class="col mt-3">
                                    {# ポイント値引きは価格変更できない #}                                                    
                                    {{ OrderItem.price|price }}
                                    <div class="text-left small">(購入当時の価格)</div>
                                </div>
                            </td>
                            <!-- 数量 -->
                            <td class="align-middle">
                                <div class="col-12 col-xl-8">
                                    {# 複数配送の場合は商品の個数を変更できない、ポイントの場合も個数を変更できない #}                                                    
                                    {{ OrderItem.quantity }}
                                    
                                </div>
                            </td>
                            <!-- 税率 -->
                            <td class="align-middle">                                                
                            </td>
                            <!-- 課税区分 -->
                            <td class="align-middle">                                                
                            </td>
                            <td>                                                
                            </td>
                            <!-- 小計 -->
                            <td class="align-middle">
                                <div class="col">
                                    <span>{{ (OrderItem.price * OrderItem.quantity)|price }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <hr class="mt-0">
            {# {% if rec_order.CouponId %}
            <div class="row justify-content-end mb-3">
                <div class="col-auto"><span class="align-middle">{{ 'stripe_recurring.coupon.coupon_discount'|trans }} ( {{ rec_order.CouponId }} )</span></div>
                <div class="col-2 text-right"><span class="h4 align-middle font-weight-normal">-{{ rec_order.CouponDiscount|price }}</span></div>
            </div>
            {% endif %} #}
            <!-- クーポン名前 -->
            {% if rec_order.CouponId %}
            <div class="row justify-content-end mb-3">
                <div class="col-auto"><span class="align-middle">{{ 'stripe_recurring.coupon.coupon_name_label'|trans }}</span></div>
                <div class="col-2 text-right">
                    <span class="h4 align-middle font-weight-normal">
                    {{ rec_order.CouponName }}
                    </span>
                </div>
            </div>
            <div class="row justify-content-end mb-3">
                <div class="col-auto"><span class="align-middle">{{ 'stripe_recurring.coupon.coupon_code_label'|trans }}</span></div>
                <div class="col-2 text-right">
                    <span class="h4 align-middle font-weight-normal">
                    {{ rec_order.CouponId }}
                    </span>
                </div>
            </div>
            {% endif %}
            <div class="row justify-content-end mb-3">
                <div class="col-auto"><span class="align-middle">{{ 'stripe_recurring.admin.initial_amount'|trans }}</span></div>
                <div class="col-2 text-right"><span class="h4 align-middle font-weight-normal">{{ initial_amount|price }} {% if initial_discount %} (-{{ initial_discount|price }} 割引) {% endif %}</span></div>
            </div>
            <!-- 手数料 -->                                
            <hr>
            {# <!-- 合計 -->
            <div class="row justify-content-end mb-3">
                <div class="col-auto"><span class="align-middle">{{ 'stripe_recurring.admin.recurring_amount'|trans }}</span></div>
                <div class="col-2 text-right"><span class="h4 align-middle font-weight-normal">{{ recurring_amount|price }} {% if recurring_discount %} (-{{ recurring_discount|price }} 割引) {% endif %}</span></div>
            </div> #}
                              
            <!-- 加算ポイント -->
            <div class="row justify-content-end mb-3">
                <div class="col-auto"><span class="align-middle">{{ 'admin.order.add_point'|trans }}</span></div>
                <div class="col-2 text-right">
                    <span class="h4 align-middle font-weight-normal">
                        {{ form.vars.value.addpoint|number_format }}
                    </span>
                </div>
            </div>
            <!-- 利用ポイント -->
            <div class="row justify-content-end mb-3">
                <div class="col-auto"><span class="align-middle">{{ 'admin.order.use_point'|trans }}</span></div>
                <div class="col-2 text-right">
                    <span class="h4 align-middle font-weight-normal">
                        {# ポイント機能が有効かつ会員の場合のみポイントを編集可能とする #}
                        {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                            {{ form_widget(form.use_point) }}
                        {% else %}
                            {{ form_widget(form.use_point, {'attr': { 'readonly': 'readonly' } }) }}
                        {% endif %}
                        {{ form_errors(form.use_point) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div><!-- .card.rounded -->